<div>
  <h3 style="text-align: center">Login works!</h3>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="username">Username: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="username"  placeholder="Username" [(ngModel)]="Username" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password">Password: </label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="password" placeholder="Password" [(ngModel)]="Password" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-default" (click)="login(Username, Password);">Login</button>
        <button class="btn btn-default" (click)="print()">Log</button>
      </div>
    </div>
  </form>
</div>